@{
  Layout = "_Layout";
}
@using ModularityPro.Models

<div class="row">
  <div class="col-md-6">
    <img src="@Model.AvatarUrl" class = "avatar">
    <h3>@Model.FirstName @Model.LastName</h3>
    <table class="table">
      <tr>
        <th>Username</th>
        <td>@Model.UserName</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>@Model.Email</td>
      </tr>
    </table>
    <div>
      <div class="profile-header-title">
        <h3>About</h3>
      </div>
      <div class="profile-header-action">
        @if(User.Identity.Name == @Model.UserName)
        {
          @Html.ActionLink("Edit", "Edit", "Profile", new { name = @Model.UserName}, new { @class = "btn btn-dark" })
        }
      </div>
    </div>
    <div class="profile-about">
      <p>@Model.Bio</p>
    </div>

    <h3>Friends</h3>
    <div class="row">
      <div class="card col-md-3">
        Test
      </div>
      <div class="card col-md-3">
        Test
      </div>
      <div class="card col-md-3">
        Test
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="profile-post-header">
      <div class="profile-header-title">
        <h3>Posts</h3>
      </div>
      <div class="profile-header-action">
        @if(User.Identity.Name == @Model.UserName)
        {
          <button class="btn btn-dark" id="new-post">New Post</button>
        }
      </div>
      <div class="profile-post-content">
        <div id="profile-create-post">
          @using (Html.BeginForm("ProfilePost", "Posts", FormMethod.Post))
          {
            <input type="hidden" name="UserName" id="UserName" value="@User.Identity.Name">
            <textarea id="Content" name="Content" class="profile-create-post-text"></textarea>
            <input type="submit" class="btn btn-dark" value="Post">
          }
        </div>
        <div class="profile-post-list">
          @if(ViewBag.Posts.Count > 0)
          {
            @foreach(Post post in ViewBag.Posts)
            {
              <div class="card profile-post">
                <div class="card-title">
                  @post.User.UserName
                </div>
                <div class="card-body">
                  @post.Content
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>