  
@{
  Layout = "_Layout";
}

@using ModularityPro.ViewModels
@model RegisterViewModel

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <p class="lead">Don't have an account? @Html.ActionLink("Register here.", "Register", "Account")</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(user => user.UserName, new { @class = "form-label"})
      @Html.TextBoxFor(user => user.UserName, new { @class = "form-control"})

      @Html.LabelFor(user => user.Password, new { @class = "form-label"})
      @Html.PasswordFor(user => user.Password, new { @class = "form-control"})

      @Html.LabelFor(user => user.ConfirmPassword, new { @class = "form-label"})
      @Html.PasswordFor(user => user.ConfirmPassword, new { @class = "form-control"})
      <br>
      <input type="submit" value="Log In" class="btn btn-primary"> 
    }
  </div>
  <div class="col-md-6">
  </div>
</div>