@{
  Layout = "_Layout";
}

@using Microsoft.AspNetCore.Identity;

@if(User.Identity.IsAuthenticated)
{
  <div class="row">
    <div class="col-md-12">
      <div class="home-post-container">
        <div class="home-post-form">
          <h3 id="post-head">What's on your mind?</h3>
          @using (Html.BeginForm("HomePost", "Posts", FormMethod.Post))
          {
            <input type="hidden" name="UserName" id="UserName" value="@User.Identity.Name">
            <textarea id="Content" name="Content" class="profile-create-post-text" placeholder="Type something here..."></textarea>
            <input type="submit" class="btn post-btn btn-dark" value="Post">
          }
        </div>
        <div>
          @if(ViewBag.Posts != null && ViewBag.Posts.Count > 0)
          {
            @foreach(Post post in ViewBag.Posts)
            {
              <div class="card profile-post">
                <div class="card-body">
                  <img src="@post.User.AvatarUrl" class="avatar">
                  <div class="card-content">
                    <strong>
                      @Html.ActionLink($"{@post.User.FirstName} {@post.User.LastName}", "Index", "Profile", new {name = @post.User.UserName})
                    </strong>
                    <p>@post.Content</p>
                    @if (post.User.UserName == User.Identity.Name)
                    {
                     <p>@Html.ActionLink("Edit Post", "Edit", new { id = post.PostId })</p>
                    
                     <p>@Html.ActionLink("Delete Post", "Delete", new {id = post.PostId})</p>
                      
                    }
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
}
else
{
<div class="jumbotron">
  <h1>Welcome to <span class="text-info">Modularity</span>Pro </h1>
  <hr>
  <p>A social network and meeting place for project teams.</p>
  <p class="lead">
    @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-dark"})
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary"})
  </p>
</div>
}