@{
  Layout = "_Layout";
}

@using Microsoft.AspNetCore.Identity;

@if(User.Identity.IsAuthenticated)
{
  <p>Welcome, @ViewBag.User.FirstName @ViewBag.User.LastName!<img src="@ViewBag.User.AvatarUrl" class="avatar"></p>
}
else
{
<div class="jumbotron">
  <h1>Welcome to <span class="text-info">Modularity</span>Pro </h1>
  <hr>
  <p>A social network for developers.</p>
  <p class="lead">
    @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-dark"})
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary"})
  </p>
</div>
}