@{
  Layout = "_Layout";
}
@using ModularityPro.Models;
@model List<ApplicationUser>
<div class="search-row">
@if (Model.Count == 0)
{
  <p>No users match this search.</p>
}
else{
  <div class="row search-header">
    @if(ViewBag.SearchString != null)
    {
      <h3>Search results for "@ViewBag.SearchString"</h3>
    }
    else
    {
      <h3>Showing all results</h3>
    }
  </div>
  @foreach (ApplicationUser u in Model)
  {
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img src = "@u.AvatarUrl" class="avatar">
            <div class="card-content">
              <strong>
                @Html.ActionLink($"{u.FirstName} {u.LastName}", "Index", "Profile", new {name = u.UserName})
              </strong>
              <hr>
              @if(u.Bio.Length > 100)
              {
                @u.Bio.Substring(0, 100)
                <text>...</text>
              }
              else
              {
                @u.Bio
              }
            </div>
            <div class="card-icon">
              <img src="https://i.imgur.com/jnNc85n.png" class="add-friend-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}
</div>