@using Microsoft.AspNetCore.Http
@using ModularityPro.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    var layoutUser = await userManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModularityPro</title>

    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><div class="glitch is-glitching" data-text="ModularityPro">ModularityPro</div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="#"><i class="fa fa-address-book-o" aria-hidden="true"></i> Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="@User.Identity.Name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</a>
                        </li>
                    </ul>
                </div>

                @if(User.Identity.IsAuthenticated)
                {
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                
                                @* <img src = "@User.Identity.AvatarUrl"> *@
                                                                
                                <a class="nav-link text-dark" asp-controller="Profile" asp-action="@User.Identity.Name"><i> <img src = "@layoutUser.AvatarUrl" class="avatar-by-search"> </i> @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                        </ul>
                    </div>
                }
                <div>
                <form class="search" action="/search" method="get">
                    <input type ="text" placeholder="   Search" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>

                @if(User.Identity.IsAuthenticated)
                {
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            @using (Html.BeginForm("Logout", "Account"))
                            {
                                <input type="submit" class="btn btn-outline-danger logout-button" value="Log Out">
                            }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    
 @* Here's where it gets weird *@                         @* Here's where it gets weird *@

<nav class="sidebar">
    <ul class="sidebar-nav">
        <li class="logo">
        <a href="#" class="nav-link">
        <span class="link-text logo-text">Chat Hub</span>
        <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
        </svg>
        </a>
        </li>

      <li class="sidebar-nav-item">   
          <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');" class="sidebar-nav-link">
            <img width="45" height="45" src="https://api.adorable.io/avatars/100/TEST1.png"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline"
            />
          <span class="link-text">Narayan Prusty</span>
          </a> 
      </li>

      <li class="sidebar-nav-item">    
          <a href="javascript:register_popup('QNimate', 'QNimate');" class="sidebar-nav-link">
            <img width="45" height="45" src="https://api.adorable.io/avatars/100/TEST2.png"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline"
            />
          <span class="link-text">QNimate</span>
          </a>  
      </li>

      <li class="sidebar-nav-item">    
          <a href="javascript:register_popup('QScutter', 'QScutter');" class="sidebar-nav-link">
            <img width="45" height="45" src="https://api.adorable.io/avatars/100/TEST3.png"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline"
            />
          <span class="link-text">QScutter</span>
          </a>  
      </li>

      <li class="sidebar-nav-item">  
          <a href="javascript:register_popup('QIdea', 'QIdea');" class="sidebar-nav-link">
            <img width="45" height="45" src="https://api.adorable.io/avatars/100/TEST4.png"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline"
            />
          <span class="link-text">QIdea</span>
          </a>  
      </li>
    </ul>
  </nav>

        <div class="container notNav">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3"> 
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ModularityPro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
